::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #419d78 22.4%, #009686 100%);
  border-radius: 2px;
}

.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-current-time-indicator { /* BARRINHA DE TEMPO */
  background-color: #228D7D;
  height: 2px;
  opacity: 0.7;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 0px;  /* PREVIOUSLY AS 10PX, RESULTING IN A WHITE BORDER*/
  top: 0;
}

.rbc-month-row .rbc-row-content {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.rbc-month-row .rbc-row-content .rbc-row {
  display: none !important;
}

.rbc-month-row .rbc-row-content .rbc-row:first-child {
  display: flex !important;
  flex-grow: 1;
  height: 100%;
}